body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background: lightblue;
}

main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

li {
    list-style-type: none;
}

img {
    max-height: 50vh;
}

.username {
    margin: 0 auto;
    width: 40%;
}

.username h1 {
    font-size: 36px;
}

.username form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.username form label {
    margin-bottom: 20px;
}

.username form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 22px;
}

.username form button {
    padding: 10px;
    border-radius: 5px;
    background-color: darkorange;
    border: 1px solid black;
    font-size: 22px;
    color: #fff;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.startButton {
    padding: 10px;
    border-radius: 5px;
    background-color: darkorange;
    border: 1px solid black;
    font-size: 22px;
    color: #fff;
    width: 300px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item ul {
    padding: 0;
}

.item ul li {
    display: none;
}

.item ul li:first-of-type {
    display: block;
}

.item ul img {
    display: none;
}

.item ul img:first-of-type {
    display: block;
}

.item input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 22px;
}

.displayNone {
    display: none;
}